@import url('https://fonts.googleapis.com/css?family=Varela+Round&subset=hebrew');

body {
    direction: rtl;
    background-color: #F2B5A7;
}

#container {
    width: 960px;
    margin: 0 auto;
    font-family: 'Varela Round', sans-serif;
}

#myimage {
    width: 501px;
    height: 500px;
    display:inline-block;
   margin:-53px 222px 0px 0px;
    animation-name: fade-in-bck;
    animation-duration: 2s;
}
.navbar {
    background-color: black;
    width: 960px;
    height: 81px;
    position: sticky;
    top: 0px;
    z-index: 2;
}

    .navbar .logo {
        float: right;
        width: 300px;
        height: auto;
        margin: 14px 20px;
    }


.nav1 ul {
    list-style: none;
    margin: 0px 0px 0px 0px;
    position: sticky;
    float: left;
}

    .nav1 ul li {
        display: inline-block;
        float: right;
    }

        .nav1 ul li a {
            display: block;
            background-color: #0D0D0D;
            color: #F5E6CC;
            text-decoration: none;
            text-align: center;
            width: 140px;
            height: 27px;
            margin-top: 30px;
            margin-left: 35px;
            Padding: 0px;
            font-size: 17pt;
        }

            .nav1 ul li a:hover {
                color: #F2B5A7;
            }

            .nav1 ul li a:active {
                color: #F25252;
            }

article {
    font-size: 25px;
    background-color: white;
    width: 960px;
    margin-top: -34px;
}



@keyframes fade-in-bck {
    0% {
        -webkit-transform: translateZ(80px);
        transform: translateZ(80px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}
article h1 {
    font-size: 55px;
    text-align: center;
    padding-top: 43px;
}
article h2 {
    font-size: 35px;
    text-align: center;
}
article p {
    text-align: center;
    font-size: 26px;
}

    .worktitle {
        display: inline-block;
        text-align: center;
        width: 279px;
        height: 20px;
        margin: 10px 10px;
        font-size: 30pt;
    }

#workicons {
    display: inline-block;
}

#workicons1 {
    display: inline-block;
    height: 300px;
    width: 300px;
    background-image: url('../images/works icons.jpg');
    background-size: 600px;
    background-position: -292px -11px;
}

    #workicons1:hover {
        display: inline-block;
        height: 300px;
        width: 300px;
        background-image: url('../images/works icons.jpg');
        background-size: 600px;
        background-position: 14px -11px;
    }


#workicons2 {
    display: inline-block;
    height: 300px;
    width: 300px;
    background-image: url('../images/works icons.jpg');
    background-size: 600px;
    background-position: -303px 282px;
}

    #workicons2:hover {
        display: inline-block;
        height: 300px;
        width: 300px;
        background-image: url('../images/works icons.jpg');
        background-size: 600px;
        background-position: -599px 282px;
    }

#workicons3 {
    display: inline-block;
    height: 300px;
    width: 300px;
    background-image: url('../images/works icons.jpg');
    background-size: 600px;
    background-position: -301px 563px;
}

    #workicons3:hover {
        display: inline-block;
        height: 300px;
        width: 300px;
        background-image: url('../images/works icons.jpg');
        background-size: 600px;
        background-position: 0px 563px;
    }
.imageclass {
    width:550px;
    height: 800px;
    border: 10px solid #F25252;
    margin: 0px 186px 0px 0px;
    animation-name: fade-in-bck;
    animation-duration: 2s;
}
audio {
    margin: 60px 359px 26px 0px;
}
.video {
    margin: 25px 218px 67px 0px;
}
